@page "/EditChart"

@inject BlitBot.Data.ChartService c
@inject SymbolSearchForm search

@using Blazored.Typeahead
@using System.Collections.Specialized
@using System.ComponentModel
@using Data

<PageTitle>BlitBot Config</PageTitle>

<h1>🤖 BlitBot Config</h1>
<hr/>
<EditForm Model="search">
    <fieldset class="form-check">
        <h3><label for="interval">Interval</label></h3>
        <InputSelect id="interval" @bind-Value="c.config.Interval">
            @foreach (var interval in c.Intervals)
            {
                <option value="@interval.Item1" selected="@(c.config.Interval.Equals(interval))">@interval.Item2</option>
            }
        </InputSelect>
    </fieldset>
    <hr/>
    <fieldset class="form-check">
        <h3><label for="timeZone">TimeZone</label></h3>
        <BlazoredTypeahead id="timeZone"  SearchMethod="c.SearchTimeZones" @bind-Value="c.config.TimeZone">
            <SelectedTemplate Context="TimeZoneContext">
                @TimeZoneContext
            </SelectedTemplate>
            <ResultTemplate Context="TimeZoneContext">
                @TimeZoneContext
            </ResultTemplate>
        </BlazoredTypeahead>
    </fieldset>
    <hr/>
    <fieldset class="form-check">
        <h3><label for="symbol">Symbol</label></h3>
        <BlazoredTypeahead id="symbol" SearchMethod="search.SearchSymbols"
                            @bind-Value="c.config.Symbol">
            <SelectedTemplate Context="SymbolContext">
                @SymbolContext.Exchange:@SymbolContext.Symbol
            </SelectedTemplate>
            <ResultTemplate Context="SymbolContext">
                @SymbolContext.Exchange:@SymbolContext.Symbol (@SymbolContext.Description)
            </ResultTemplate>
        </BlazoredTypeahead>
        <div class="btn-group" role="group">
            <InputRadioGroup @bind-Value="search.SymbolType">
                @foreach (var type in c.symbolTypes)
                {
                    <InputRadio id="@type" class="btn-check" Value="@type" checked="@(search.SymbolType.Equals(@type))"/>
                    <label class="btn btn-outline-primary" for="@type">@type</label>
                }
            </InputRadioGroup>
        </div>
    </fieldset>
</EditForm>    
