@page "/EditChart"

@inject BlitBot.Data.ChartService c
@inject SymbolSearchForm search

@using Blazored.Typeahead
@using System.Collections.Specialized
@using System.ComponentModel
@using Data

<PageTitle>BlitBot Config</PageTitle>

<h1>🤖 BlitBot Config</h1>
<hr/>
<EditForm Model="search" class="form-inline">
    <div class=row>
        <div class="col-auto">
            <label for="symbol">Symbol</label>
            <BlazoredTypeahead id="symbol"  
                                class="form-control"
                                SearchMethod="search.SearchSymbols"
                                MaximumSuggestions="50" 
                                @bind-Value="c.config.Symbol">
                <SelectedTemplate Context="SymbolContext">
                    @SymbolContext.Exchange:@SymbolContext.Symbol
                </SelectedTemplate>
                <ResultTemplate Context="SymbolContext">
                    @SymbolContext.Exchange:@SymbolContext.Symbol (@SymbolContext.Description)
                </ResultTemplate>
            </BlazoredTypeahead>
            <div class="btn-group" role="group">
                <InputRadioGroup 
                    @bind-Value="search.SymbolType" 
                    class="form-control">
                    @foreach (var type in c.symbolTypes)
                    {
                        <InputRadio id="@type" class="btn-check" Value="@type" checked="@(search.SymbolType.Equals(@type))"/>
                        <label class="btn btn-outline-primary" for="@type">@type</label>
                    }
                </InputRadioGroup>
            </div>
        </div>
          <div class="form-group col-auto">
           <label for="timeZone">TimeZone</label>
            <BlazoredTypeahead id="timeZone" class="form-control" SearchMethod="c.SearchTimeZones" @bind-Value="c.config.TimeZone">
                <SelectedTemplate Context="TimeZoneContext">
                    @TimeZoneContext
                </SelectedTemplate>
                <ResultTemplate Context="TimeZoneContext">
                    @TimeZoneContext
                </ResultTemplate>
            </BlazoredTypeahead>
        </div> 
        <div class="form-group col-auto">
            <label for="interval">Interval</label>
            <div>
                <InputSelect id="interval" class="form-control" @bind-Value="c.config.Interval">
                    @foreach (var interval in c.Intervals)
                    {
                        <option value="@interval.Item1" selected="@(c.config.Interval.Equals(interval))">@interval.Item2</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
   
</EditForm>    

<Chart/>
